.text-xs-center {
  font-size: 14px;
  text-align: center;
}

/* xs */
@media (min-width: 30px) {
  .profile--img {
      width: 200px;
      height: 200px;
  }
}
/* sm */
@media (min-width: 768px) {
  .profile--img {
      width: 200px;
      height: 200px;
  }
}

/* md */
@media (min-width: 992px) {
  .profile--img {
      width: 300px;
      height: 300px;
  }
}

/* lg */
@media (min-width: 1200px) {
  .profile--img {
      width: 350px;
      height: 350px;
  }

}


