@import "~bootstrap/scss/mixins";

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin text-background-padding($padding-y: 0.2rem, $padding-x: 0.1rem) {
    padding: $padding-y $padding-x;
    box-decoration-break: clone;
}

@mixin link-colors-dark-bg {
    a {
        color: lighten($link-color, 45%);
    }

    a:hover,
    a:focus {
        color: $link-hover-color;
    }
}

@mixin header-shrink-transition {
    transition: all 0.3s ease;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin make-container-min-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      min-width: $container-max-width;
    }
  }
}
