$headline-fontfamily: "Myriad Pro Condensed", -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
$brand-fontfamily: $headline-fontfamily;
$text-fontfamily: "Myriad Pro Condensed", -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
